In [1]:
# 1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file 
# named test.txt.

In [9]:
test1 = 'This is a test of the emergency text system'

with open ('test.txt' , 'w') as file:
    file.write(test1)
    file.close()

In [2]:
# read the content of test.txt

! type test.txt

This is a test of the emergency text system

In [2]:
# 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [10]:
with open('test.txt', 'r') as file:
    test2 = file.read()
    
print(test2)
print(test1 == test2)

This is a test of the emergency text system
True

In [3]:
# 3. Create a CSV file called books.csv by using these lines:
# title,author,year
# The Weirdstone of Brisingamen,Alan Garner,1960
# Perdido Street Station,China Miéville,2000
# Thud!,Terry Pratchett,2005
# The Spellman Files,Lisa Lutz,2007
# Small Gods,Terry Pratchett,1992

In [13]:
data = '''title, author, year
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992'''

with open('books.csv', 'w') as file:
    file.write(data)

In [16]:
import pandas as pd
pd.read_csv('books.csv')

                           title           author  year
0                          title           author  year
1  The Weirdstone of Brisingamen      Alan Garner  1960
2         Perdido Street Station   China Mi�ville  2000
3                          Thud!  Terry Pratchett  2005
4             The Spellman Files        Lisa Lutz  2007
5                     Small Gods  Terry Pratchett  1992

In [4]:
# 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these 
# fields: title (text), author (text), and year (integer).

In [19]:
import sqlite3
db = sqlite3.connect('books.db')
cursor = db.cursor()
ouput = cursor.execute("create table books ( title text, author text, year integer)")
db.commit()
db.close()

In [5]:
# 5. Read books.csv and insert its data into the book table.

In [ ]:
import csv
import sqlite3
conn = sqlite3.connect("books.db")
cursor = conn.cursor()
with open('books.csv', 'r') as file:
    books = csv.DictReader(file)     # Table
    for book in books:
        cursor.execute("insert into books values()", (book['title'], book['author'], book['year']))
conn.commit()
conn.close()

In [6]:
# 6. Select and print the title column from the book table in alphabetical order.

In [ ]:
import sqlite3
conn = sqlite3.connect('books.db')
cursor = conn.cursor()
output = cursor.execute("SELECT title from books ORDERBY title asc")
for i in output:
    print(i[0])
conn.commmit()
conn.close()

In [30]:
# 7. From the book table, select and print all columns in the order of publication.

In [ ]:
import sqlite3
conn = sqlite3.connect('books.db')
cursor = conn.cursor()
ouput = cursor.execute("SELECT * FROM books ORDER BY year")
for record in ouput:
    print(record)

In [8]:
# 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [37]:
import sqlalchemy
conn = sqlalchemy.create_engine('sqlite:///books.db')
conn

Engine(sqlite:///books.db)

In [9]:
# 9. Install the Redis server and the Python redis library (pip install redis) on your computer. 
# Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [38]:
! python -m pip install redis

Collecting redis
  Downloading redis-4.3.3-py3-none-any.whl (244 kB)
Collecting deprecated>=1.2.3
  Downloading Deprecated-1.2.13-py2.py3-none-any.whl (9.6 kB)
Requirement already satisfied: packaging>=20.4 in c:\users\haider ali\anaconda3\lib\site-packages (from redis) (20.9)
Collecting async-timeout>=4.0.2
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Requirement already satisfied: wrapt<2,>=1.10 in c:\users\haider ali\anaconda3\lib\site-packages (from deprecated>=1.2.3->redis) (1.12.1)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\haider ali\anaconda3\lib\site-packages (from packaging>=20.4->redis) (2.4.7)
Installing collected packages: deprecated, async-timeout, redis
Successfully installed async-timeout-4.0.2 deprecated-1.2.13 redis-4.3.3

In [ ]:
import redis
conn = redis.Redis()
conn.hset('test',{
    'count':1,
    'name':'Fester Bestertester'
})
conn.hgetall('test')

In [10]:
# 10. Increment the count field of test and print it.

In [ ]:
conn.hincrby('test', 'count', 1)
conn.hget('test', 'count')